In [2]:
!pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\13002\appdata\local\programs\python\python311\lib\site-packages (3.1.2)

[notice] A new release of pip available: 22.3.1 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: et-xmlfile in c:\users\13002\appdata\local\programs\python\python311\lib\site-packages (from openpyxl) (1.1.0)

In [3]:
import pandas as pd
import numpy  as np

In [86]:
# 엑셀 파일의 경로를 지정
excel_file_path_2017 = "성동구립성수도서관 도서 대출목록 (2017년 05월).xlsx"
excel_file_path_2023 = "성동구립성수도서관 장서 대출목록 (2023년 05월).xlsx"

# 엑셀 파일을 pandas DataFrame으로 읽습니다.
df_2017 = pd.read_excel(excel_file_path_2017)
df_2023 = pd.read_excel(excel_file_path_2023)

c:\Users\13002\AppData\Local\Programs\Python\Python311\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\13002\AppData\Local\Programs\Python\Python311\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [111]:

# 도서명의 기호 제거
df_2017['도서명'] = df_2017['도서명'].str.replace(r"[^\w]", "")
df_2017['저자'] = df_2017['저자'].str.replace(r"[^\w]", "")
df_2017['출판사'] = df_2017['출판사'].str.replace(r"[^\w]", "")
df_2017['발행년도'] = df_2017['발행년도'].str.replace(r"[^\w]", "")
df_2023['도서명'] = df_2023['도서명'].str.replace(r"[^\w]", "")
df_2023['저자'] = df_2017['저자'].str.replace(r"[^\w]", "")
df_2023['출판사'] = df_2017['출판사'].str.replace(r"[^\w]", "")
df_2023['발행년도'] = df_2017['발행년도'].str.replace(r"[^\w]", "")

In [112]:
df_2017

,관리번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
0,68795840,닥터 스트레인지,스콧 데릭슨 감독,월트디즈니,2017,8809505721104,NaN,NaN,NaN,688.2,1,0,2017-05-30
1,68795837,바다의 뚜껑,도요시마 케이스케 감독,인조인간,2017,8809520440318,NaN,NaN,NaN,688.2,1,0,2017-05-30
2,68795834,모아나,론 클레멘츠 감독,월트디즈니,2017,8809505721166,NaN,NaN,NaN,688.6,1,0,2017-05-30
3,68795835,리틀 프린세스 소피아:비밀의 도서관,제이미 밋첼 감독,월트디즈니,2017,8809505721067,NaN,NaN,NaN,688.6,1,0,2017-05-30
4,68795842,국가대표 2,김종현 감독,비디오여행,2017,8809308189422,NaN,NaN,NaN,688.2,1,0,2017-05-30
...,...,...,...,...,...,...,...,...,...,...,...,...,...
44843,62855470,Bathtime for Biscuit,story by Alyssa Satin Capucilli ;pictures by P...,HarperTrophy,1998,9780064442640,NaN,NaN,1.0,747,1,43,2012-08-06
44844,62855629,Henry and Mudge and the happy cat :the eighth ...,Story by Cynthia Rylant ;Pictures by Sucie Ste...,Aladdin,1994,9780689810138,9788917913545,NaN,21.0,747,1,39,2012-08-06
44845,62855826,(The)smartest giant in town,Written by Julia Donaldson ;Illustrated by Ax...,London:Macmillan Children's Books,2002,9780333963968,NaN,NaN,82.0,808.9,1,27,2012-08-06
44846,62855854,Bread·bread·bread,by Ann Morris ;photographs by Ken Heyman,Mulberry Books,1989,9780688122751,NaN,NaN,110.0,808.9,1,17,2012-08-06
44847,62855934,Up and down on the merry-go-round,By Bill Martin Jr ;John Archambault ;Illustrat...,Henry Holt Books for Young Readers,1988,9780805016383,NaN,NaN,191.0,808.9,1,16,2012-08-06

In [113]:
df_2023

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
0,1,"열다섯, 비밀의 온도",스콧 데릭슨 감독,월트디즈니,2017,9791192273099,NaN,4,NaN,813.7,1,0,2023-05-31
1,2,결정 거부자,도요시마 케이스케 감독,인조인간,2017,9791167552051,NaN,4,NaN,813.7,1,0,2023-05-31
2,3,풍수전쟁,론 클레멘츠 감독,월트디즈니,2017,9791167763846,NaN,0,NaN,813.7,1,0,2023-05-31
3,4,울트라셀프,제이미 밋첼 감독,월트디즈니,2017,9791130655550,NaN,0,NaN,325.211,1,0,2023-05-31
4,5,마녀가 되는 주문,김종현 감독,비디오여행,2017,9791198176561,NaN,4,NaN,813.7,1,0,2023-05-31
...,...,...,...,...,...,...,...,...,...,...,...,...,...
64441,64442,(The)jacket I wear in the snow,NaN,NaN,NaN,9780688045876,NaN,5,NaN,808.9,2,31,2012-08-06
64442,64443,Lots of feelings,NaN,NaN,NaN,9780761323778,NaN,5,NaN,808.9,2,44,2012-08-06
64443,64444,Kitten＇s first full moon,NaN,NaN,NaN,9780060588281,NaN,5,NaN,808.9,1,35,2012-08-06
64444,64445,Little blue and little yellow,NaN,NaN,NaN,9780688132859,NaN,5,NaN,808.9,2,53,2012-08-06
64445,64446,Love you forever,NaN,NaN,NaN,9780099266891,NaN,NaN,NaN,808.9,2,64,2012-08-06

1. 2017년 5월과 비교하여 2023년 5월 시점에서 추가된 도서의 목록 및 개수

In [114]:
#17년 23년 ISBN기준으로 중복된 도서 데이터 제거

duplicate_df2017 = df_2017.drop_duplicates(['ISBN'])
duplicate_df2023 = df_2023.drop_duplicates(['ISBN'])

In [115]:

#비교를 위해 데이터를 string으로 변경
duplicate_df2017['ISBN'] = duplicate_df2017['ISBN'].astype(str)
duplicate_df2023['ISBN'] = duplicate_df2023['ISBN'].astype(str)

C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_4848\1931407630.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  duplicate_df2017['ISBN'] = duplicate_df2017['ISBN'].astype(str)
C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_4848\1931407630.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  duplicate_df2023['ISBN'] = duplicate_df2023['ISBN'].astype(str)

In [116]:
#23년 ISBN값을 17년 값중에 있는지 없는지 판단해서 없는것을 new23_df저장
new23_df = duplicate_df2023[~duplicate_df2023['ISBN'].isin(duplicate_df2017['ISBN'])]
new23_df

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
0,1,"열다섯, 비밀의 온도",스콧 데릭슨 감독,월트디즈니,2017,9791192273099,NaN,4,NaN,813.7,1,0,2023-05-31
1,2,결정 거부자,도요시마 케이스케 감독,인조인간,2017,9791167552051,NaN,4,NaN,813.7,1,0,2023-05-31
2,3,풍수전쟁,론 클레멘츠 감독,월트디즈니,2017,9791167763846,NaN,0,NaN,813.7,1,0,2023-05-31
3,4,울트라셀프,제이미 밋첼 감독,월트디즈니,2017,9791130655550,NaN,0,NaN,325.211,1,0,2023-05-31
4,5,마녀가 되는 주문,김종현 감독,비디오여행,2017,9791198176561,NaN,4,NaN,813.7,1,0,2023-05-31
...,...,...,...,...,...,...,...,...,...,...,...,...,...
64130,64131,What do you hear when cows sing?:,NaN,NaN,NaN,9780064442275,NaN,5,NaN,747,1,35,2012-08-06
64297,64298,(The)case of the scaredy cats,NaN,NaN,NaN,9780064440479,NaN,5,NaN,747,1,33,2012-08-06
64357,64358,Night of the ninjas,NaN,NaN,NaN,9780679863717,NaN,5,NaN,843,1,56,2012-08-06
64404,64405,If you take a mouse to the movies,NaN,NaN,NaN,9780060278670,NaN,5,NaN,808.9,1,42,2012-08-06
64443,64444,Kitten＇s first full moon,NaN,NaN,NaN,9780060588281,NaN,5,NaN,808.9,1,35,2012-08-06

2. 2017년 5월과 비교하여 2023년 5월 시점에서 없어진 도서의 목록 및 개수

In [117]:
new17_df = duplicate_df2017[~duplicate_df2017['ISBN'].isin(duplicate_df2023['ISBN'])]
new17_df

,관리번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
19,68752996,수수께끼로 동시 쓰기 365.^1,문삼석 글·그림,계수나무,2015,9788989654810,9788989654803,NaN,1.0,811.8,1,0,2017-05-25
33,68752985,노란 난쟁이,"앤드류 랭 엮음, 이창호 옮김 , 최수은 그림",NaN,2017,9788998427115,NaN,NaN,NaN,843.6,1,0,2017-05-25
44,68696853,요즘 제주:SNS에 없는 취향저격 제주여행,"염관식, 옥미혜 지음",NaN,2017,9788925561677,NaN,NaN,NaN,981.19902,1,0,2017-05-19
45,68696800,기억술사:오리가미 교야 장편소설.//기억을 지우는 사람^1,"오리가미 교야 지음, 서혜영 옮김",NaN,2017,9788950969639,NaN,NaN,1.0,833.6,1,1,2017-05-19
47,68696802,베를린 누아르.//3월의 제비꽃^1,"필립 커 지음, 박진세 옮김",북스피어,2017,9788998791667,NaN,NaN,1.0,843.6,1,1,2017-05-19
...,...,...,...,...,...,...,...,...,...,...,...,...,...
44806,62857101,누구 짓이지?,김은하 글 ;방기황 그림,서울:한국헤밍웨이,2006,9788954807852,9788954807647,NaN,23.0,410.8,1,24,2012-08-06
44807,62857104,"초콜릿 한 개, 두부 한 모",김향금 글 ;조현주 그림,서울:한국헤밍웨이,2006,9788954807883,9788954807647,NaN,26.0,410.8,1,31,2012-08-06
44808,62857109,수리수리 얍!,양승현 글 ;최영화 그림,서울:한국헤밍웨이,2006,9788954807937,9788954807647,NaN,211.0,410.8,1,20,2012-08-06
44809,62857116,돌돌이가 송송이네 집에 가요,엄혜숙 글 ;이지희 그림,서울:한국헤밍웨이,2006,9788954808002,9788954807647,NaN,218.0,410.8,1,17,2012-08-06
44826,62856930,피노키오,카를로 콜로디 원작 ;강승연 글 ;정지현 그림,서울:베틀북,2011,9788984883840,NaN,NaN,18.0,808.9,1,38,2012-08-06

3. 2017년 5월과 2023년 5월 가장 대출이 많이 발생한 도서 상위 20권의 리스트와 그 빈도수 비교

In [118]:
#17년 23년 ISBN기준으로 중복된 도서 데이터 제거

duplicate_df2017 = df_2017.drop_duplicates(['ISBN'])
duplicate_df2023 = df_2023.drop_duplicates(['ISBN'])

df_2017_sum = df_2017.groupby('ISBN').sum()['대출건수'].sort_values(ascending=False)
df_2023_sum = df_2023.groupby('ISBN').sum()['대출건수'].sort_values(ascending=False)


duplicate_df2017_sum = pd.merge(duplicate_df2017, df_2017_sum, on='ISBN')
duplicate_df2023_sum = pd.merge(duplicate_df2023, df_2023_sum, on='ISBN')

duplicate_df2017_sum = duplicate_df2017_sum.sort_values(by='대출건수_y',ascending=False)
duplicate_df2023_sum = duplicate_df2023_sum.sort_values(by='대출건수_y',ascending=False)

duplicate_df2017_sum = duplicate_df2017_sum.drop(['대출건수_x','관리번호','저자','출판사','세트 ISBN','부가기호','권','주제분류번호','도서권수','등록일자'], axis=1)
duplicate_df2023_sum = duplicate_df2023_sum.drop(['대출건수_x','번호','저자','출판사','세트 ISBN','부가기호','권','주제분류번호','도서권수','등록일자'], axis=1)

duplicate_df2017_sum = duplicate_df2017_sum.rename(columns={'도서명':'17년 도서명'})
duplicate_df2017_sum = duplicate_df2017_sum.rename(columns={'발행년도':'17년 발행년도'})
duplicate_df2017_sum = duplicate_df2017_sum.rename(columns={'ISBN':'17년 ISBN'})
duplicate_df2017_sum = duplicate_df2017_sum.rename(columns={'대출건수_y':'17년 대출건수'})

duplicate_df2023_sum = duplicate_df2023_sum.rename(columns={'도서명':'23년 도서명'})
duplicate_df2023_sum = duplicate_df2023_sum.rename(columns={'발행년도':'23년 발행년도'})
duplicate_df2023_sum = duplicate_df2023_sum.rename(columns={'ISBN':'23년 ISBN'})
duplicate_df2023_sum = duplicate_df2023_sum.rename(columns={'대출건수_y':'23년 대출건수'})

duplicate_df2017_sum = duplicate_df2017_sum.head(20)
duplicate_df2023_sum = duplicate_df2023_sum.head(20)

duplicate_df2017_sum['rank'] = duplicate_df2017_sum['17년 대출건수'].rank(ascending=False)
duplicate_df2023_sum['rank'] = duplicate_df2023_sum['23년 대출건수'].rank(ascending=False)

compare_df = pd.concat([duplicate_df2017_sum, duplicate_df2023_sum])
compare_df.reset_index(drop = True)
compare_df

,17년 도서명,17년 발행년도,17년 ISBN,17년 대출건수,rank,23년 도서명,23년 발행년도,23년 ISBN,23년 대출건수
32625,황태자비 납치사건,2011,9.788994e+12,1639.0,1.0,NaN,NaN,NaN,NaN
6819,"식객, 팔도를 간다. //경기편/ ^[2],",2012,9.788935e+12,1615.0,2.0,NaN,NaN,NaN,NaN
15169,유대인 하브루타 경제교육 ;꼬마 버핏은 어떻게 경제를 공부했을까,2014,9.791155e+12,1506.0,3.0,NaN,NaN,NaN,NaN
12038,퀴르발 남작의 성 :최제훈 소설집/,2010,9.788932e+12,1499.0,4.0,NaN,NaN,NaN,NaN
24382,(절대 배신하지 않는)돈의 습관= =Absolute savings/,2013,9.791185e+12,1487.0,5.0,NaN,NaN,NaN,NaN
35344,(Who?)밥 말리=Bob Marley,2012,9.788964e+12,1023.0,6.0,NaN,NaN,NaN,NaN
22156,초콜릿 케이크 만들기,2010,9.788963e+12,899.0,7.0,NaN,NaN,NaN,NaN
13243,다람쥐의 망원경,[2011],9.788916e+12,778.0,8.0,NaN,NaN,NaN,NaN
39793,"후비적후비적, 코 파지 마!/",2010,9.788964e+12,626.0,9.0,NaN,NaN,NaN,NaN
30570,해리포터와 죽음의 성물,2008,9.788984e+12,616.0,10.0,NaN,NaN,NaN,NaN
28561,사또의 딸을 웃긴 바보 /,2012,9.788915e+12,584.0,11.0,NaN,NaN,NaN,NaN
18068,옛날에도 그림을 그렸을까?,2010,9.788921e+12,573.0,12.5,NaN,NaN,NaN,NaN
24098,꽃가마 탄 할아버지,[2011],9.788966e+12,573.0,12.5,NaN,NaN,NaN,NaN
36460,(감쪽같은)가상현실,2000,9.788935e+12,565.0,14.0,NaN,NaN,NaN,NaN
32147,"(대하역사만화)박시백의 조선왕조실록.//인종·명종실록 - 문정왕후의 시대, 척신의 ...",2010,9.788959e+12,460.0,15.0,NaN,NaN,NaN,NaN
22791,여우 누이/,[2013],9.788955e+12,443.0,16.0,NaN,NaN,NaN,NaN
35482,(엽기 과학자)프래니.//복제로봇을 물리쳐라^6,2007,9.788926e+12,430.0,17.0,NaN,NaN,NaN,NaN
22927,Little miss giggles,2011,9.781405e+12,424.0,18.0,NaN,NaN,NaN,NaN
22928,Mr. clumsy,2012,9.781405e+12,417.0,19.0,NaN,NaN,NaN,NaN
7541,코스모스,2015,9.788937e+12,391.0,20.0,NaN,NaN,NaN,NaN
35993,NaN,NaN,NaN,NaN,1.0,비밀의 화원,2011,9788954839105,4038.0
40704,NaN,NaN,NaN,NaN,2.0,에로스와 프시케의 사랑,NaN,9788963297903,3371.0
15181,NaN,NaN,NaN,NaN,3.0,달과 6펜스,2014,9788937460005,3200.0
35351,NaN,NaN,NaN,NaN,4.0,마법의 시간여행,2012,9788949150673,2665.0
26726,NaN,NaN,NaN,NaN,5.0,게임 없이 못 살아!,2010,9788959772087,2623.0
41915,NaN,NaN,NaN,NaN,6.0,팔도 총각이 왔어요!,NaN,9788962618594,2617.0
41931,NaN,NaN,NaN,NaN,7.0,잠자는 땅콩:충분하게 잠자기,NaN,9788955234121,2210.0
38869,NaN,NaN,NaN,NaN,8.0,미야자키 하야오의 만화 영화,NaN,9788963292908,2116.0
41104,NaN,NaN,NaN,NaN,9.0,복 타러 간 총각,NaN,9788954864596,2096.0
41105,NaN,NaN,NaN,NaN,10.0,"엄마, 저리 가!",NaN,9788901034768,1862.0
12921,NaN,NaN,NaN,NaN,11.0,오늘의 마음에게 안녕?:어린이 명상 그림책,2014,9788997366132,1838.0
15749,NaN,NaN,NaN,NaN,12.0,(How So?)우주 개척,2007,9788954873888,1815.0
35654,NaN,NaN,NaN,NaN,13.0,주사위 놀이:내가 이길 가능성은 얼마?,2011,9788958853640,1742.0
36221,NaN,NaN,NaN,NaN,14.0,가브리엘 샤넬,2011,9788949188003,1709.0
12911,NaN,NaN,NaN,NaN,15.0,(신비수풀라 숲에서 만난)스뾰강과 스퓨랑,2012,9788949110004,1633.0
48232,NaN,NaN,NaN,NaN,16.0,(Who?)루트비히 판 베토벤 =Ludwing van Beethoven,NaN,9788963702407,1613.0
29757,NaN,NaN,NaN,NaN,17.0,춘향전,2012,9788934926801,1445.0
40778,NaN,NaN,NaN,NaN,18.0,헨젤과 그레텔,NaN,9788901043408,1420.0
39052,NaN,NaN,NaN,NaN,19.0,"근대와 현대의수학:파스칼, 뉴턴 그리고 가우스",NaN,9788958852612,1410.0
33103,NaN,NaN,NaN,NaN,20.0,뚝딱곰쥐의 뚝딱호,2000,9788956149493,1392.0

In [103]:
np.std(duplicate_df2017_sum['17년 대출건수'])

445.898912310851

4. 2017년 5월과 2023년 5월 가장 대출이 많이 발생한 도서 상위 100권 중 동일한 도서의 리스트와 그 개수 (100권이 적당하지 않으면 숫자를 조정 가능)

5. 2017년 5월 가장 대출이 많이 발생한 도서 상위 50권의 당시 대출 횟수와 현재 대출 횟수 비교하여 증가한 도서와 감소한 도서 파악, 그래프로 표현

6. 위의 통계를 도출하면서 필요한 전처리 (중복 제거, 누락값 처리, 잘못된 값 처리 등)를 강의 내용을 참고하여 수행

7. 위의 통계 외에도 2017년과 2023년을 비교하기에 유의미하다고 여겨지는 분석을 각자 수행하고 그 결과물을 그래프로 표현. 결과에 대한 분석을 코드에 추가 (텍스트, 주석 등)